body {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-again {
    background-color: tomato;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.hide {
    display: none;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /*border: 2px solid;*/
    padding: 15px;
    margin: 5px;
}